# do not track compilation byproducts
*.cxx
*.so
*.dylib
*.vscode
privateer.exe
privateer.py
__pycache__

# do not track make and cmake stuff
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# do not track test results
unittests/test_output
unittests/test_output/*
unittests/annotated_glycans_hierarchical.xml

# here you go, neat and tidy
# until next time
# cheerio
.DS_Store
CTestTestfile.cmake
install_manifest.txt
