[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/gemmi"]
	path = dependencies/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "dependencies/pybind11_json"]
	path = dependencies/pybind11_json
	url = https://github.com/pybind/pybind11_json.git
