[submodule "src/dependencies/gemmi"]
	path = src/dependencies/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "src/dependencies/pybind11"]
	path = src/dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/dependencies/pocketfft"]
	path = src/dependencies/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
	branch = cpp
