# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# do not track compilation byproducts
*.cxx
*.so
*.dylib
*.vscode
*.pyc
.pytest_cache
privateer.exe
privateer.py
__pycache__

# do not track make and cmake stuff
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# do not track test results
unittests/test_output
unittests/test_output/*
unittests/test_data/test_truncatedglycans
unittests/annotated_glycans_hierarchical.xml

# here you go, neat and tidy
# until next time
# cheerio
.DS_Store
CTestTestfile.cmake
install_manifest.txt

# project specific
dependencies/ccp4srs/
dependencies/clipper/
dependencies/fftw/
dependencies/include
dependencies/info
dependencies/lib/
dependencies/libccp4/
dependencies/mmdb2/
dependencies/share/
src/privateer.egg-info/
build/
tests/test_data/6xr8.map