body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
  
img.baby-gru-button-icon {
    height: 3rem;
    width: 3rem;
}
  
.baby-gru.flatly h3 {
    color: black !important;
}
  
.baby-gru.darkly h3 {
    color: white !important;
}
  
div.darkly text {fill:#888 !important;}
div.darkly text.base {fill:#000!important;}
div.darkly text.start-label {fill:#FFF !important;}
div.darkly text.end-label {fill:#FFF !important;}

.tab-content{
    height: calc(100% - 3rem);
}

.nav-tabs{
    height: 3rem;
}

.tool-container-row{
    height: calc(100% - 10rem);
}

.carousel-control-next {
  width: max(80px, 10vh) !important;
  height: max(40px, 5vh) !important;
}

.carousel-control-prev {
  width: max(80px, 10vh) !important;
  height: max(40px, 5vh) !important;
}

.validation-plot-div{
    height: calc(100%);
}

.hide-scrolling::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
  -webkit-padding-end: 16px;  
}

.stop-scrolling {
  scrollbar-width: none;
  height: 100%;
  overflow: hidden;
} 

.validation-plot-container::-webkit-scrollbar {
    width: 1rem;
  }
   
.validation-plot-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
.validation-plot-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.nav-link {
    padding-right: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.nav-link::after {
  display:none !important;
}

.nav-link::before {
  display:none !important;
}

.map-colour-dropdown::after  {
    display:none !important;
}